In [1]:
import pandas as pd
import re
import seaborn as sns
import requests
import json
from pandas import json_normalize
import re

In [2]:
df = pd.read_csv('archive/ghg-emissions.csv')

In [3]:
df.head()

,Country/Region,unit,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,China,MtCO2e,2873.71,3023.38,3154.54,3377.79,3528.81,3918.30,3954.75,3963.61,...,9046.19,9872.37,10364.83,10690.04,11144.76,11155.76,11149.68,11207.66,11408.26,11705.81
1,United States,MtCO2e,5543.47,5501.92,5583.80,5691.26,5782.20,5843.90,6010.62,6258.47,...,5793.66,6041.59,5796.78,5550.87,5690.79,5711.15,5586.69,5676.92,5613.64,5794.35
2,India,MtCO2e,1009.44,1064.49,1096.71,1128.44,1174.78,1240.44,1289.63,1348.09,...,2467.78,2576.93,2610.32,2758.53,2816.49,2988.34,3002.17,3073.24,3202.82,3346.63
3,Russia,MtCO2e,2885.12,2788.70,2551.94,2294.62,2011.47,1930.88,1889.18,1755.59,...,1575.54,1690.93,1864.86,1886.41,1844.48,1841.26,1791.21,1918.26,1939.26,1992.08
4,Indonesia,MtCO2e,1257.10,1274.43,1295.01,1311.27,1327.87,1360.88,1179.00,2142.82,...,1483.61,1125.25,1675.72,1695.27,1636.17,2016.28,2070.24,1453.23,1466.05,1703.86

In [4]:
df.tail()

,Country/Region,unit,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
190,Nauru,MtCO2e,0.13,0.13,0.13,0.12,0.12,0.11,0.11,0.11,...,0.05,0.05,0.05,0.05,0.05,0.06,0.06,0.07,0.07,0.08
191,Tuvalu,MtCO2e,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,...,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.03,0.03
192,Niue,MtCO2e,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.00,0.00,0.00,0.01,0.01,0.01,0.01,0.01
193,Data source,CAIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Data for,Countries/Regions: World. Sectors/Subsectors: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Vemos que aquí las dos ultimas columnas, donde estan los nan, no son realmente paises, por ello podemos quitarlas, no se van a usar en ningún momento de este estudio

In [5]:
df.drop([193,194], axis=0, inplace=True)

In [6]:
df.tail()

,Country/Region,unit,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
188,Kiribati,MtCO2e,0.04,0.04,0.04,0.05,0.04,0.05,0.05,0.05,...,0.08,0.08,0.08,0.08,0.09,0.09,0.09,0.10,0.10,0.11
189,Cook Islands,MtCO2e,0.03,0.03,0.03,0.03,0.03,0.04,0.04,0.05,...,0.07,0.07,0.08,0.08,0.08,0.08,0.08,0.09,0.09,0.10
190,Nauru,MtCO2e,0.13,0.13,0.13,0.12,0.12,0.11,0.11,0.11,...,0.05,0.05,0.05,0.05,0.05,0.06,0.06,0.07,0.07,0.08
191,Tuvalu,MtCO2e,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,...,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.03,0.03
192,Niue,MtCO2e,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.00,0.00,0.00,0.01,0.01,0.01,0.01,0.01

### Llamamos a la API

In [7]:
url = requests.get('http://climatedataapi.worldbank.org/climateweb/rest/v1/country')

In [8]:
url.json()

[{'name': 'Afghanistan', 'iso3': 'AFG', 'iso2': 'AF', 'id': 466},
 {'name': 'Albania', 'iso3': 'ALB', 'iso2': 'AL', 'id': 582},
 {'name': 'Algeria', 'iso3': 'DZA', 'iso2': 'DZ', 'id': 520},
 {'name': 'American Samoa (U.S.)', 'iso3': 'ASM', 'id': 677},
 {'name': 'Andorra', 'iso3': 'AND', 'id': 675},
 {'name': 'Angola', 'iso3': 'AGO', 'iso2': 'AO', 'id': 544},
 {'name': 'Anguilla (U.K.)', 'iso3': 'AIA', 'id': 716},
 {'name': 'Antigua and Barbuda', 'iso3': 'ATG', 'iso2': 'AG', 'id': 583},
 {'name': 'Argentina', 'iso3': 'ARG', 'iso2': 'AR', 'id': 563},
 {'name': 'Armenia', 'iso3': 'ARM', 'iso2': 'AM', 'id': 584},
 {'name': 'Aruba (Neth.)', 'iso3': 'ABW', 'id': 674},
 {'name': 'Australia', 'iso3': 'AUS', 'iso2': 'AU', 'id': 585},
 {'name': 'Austria', 'iso3': 'AUT', 'iso2': 'AT', 'id': 586},
 {'name': 'Azerbaijan', 'iso3': 'AZE', 'iso2': 'AZ', 'id': 491},
 {'name': 'Bahamas, The', 'iso3': 'BHS', 'iso2': 'BS', 'id': 587},
 {'name': 'Bahrain', 'iso3': 'BHR', 'iso2': 'BH', 'id': 588},
 {'name': 'Bangladesh', 'iso3': 'BGD', 'iso2': 'BD', 'id': 469},
 {'name': 'Barbados', 'iso3': 'BRB', 'iso2': 'BB', 'id': 589},
 {'name': 'Belarus', 'iso3': 'BLR', 'iso2': 'BY', 'id': 590},
 {'name': 'Belgium', 'iso3': 'BEL', 'iso2': 'BE', 'id': 591},
 {'name': 'Belize', 'iso3': 'BLZ', 'iso2': 'BZ', 'id': 576},
 {'name': 'Benin', 'iso3': 'BEN', 'iso2': 'BJ', 'id': 551},
 {'name': 'Bermuda (U.K.)', 'iso3': 'BMU', 'id': 679},
 {'name': 'Bhutan', 'iso3': 'BTN', 'iso2': 'BT', 'id': 467},
 {'name': 'Bolivia', 'iso3': 'BOL', 'iso2': 'BO', 'id': 561},
 {'name': 'Bosnia and Herzegovina', 'iso3': 'BIH', 'id': 678},
 {'name': 'Botswana', 'iso3': 'BWA', 'iso2': 'BW', 'id': 542},
 {'name': 'Brazil', 'iso3': 'BRA', 'iso2': 'BR', 'id': 569},
 {'name': 'British Indian Ocean Territory (U.K.)', 'iso3': 'IOT', 'id': 720},
 {'name': 'British Virgin Islands (U.K.)', 'iso3': 'VGB', 'id': 717},
 {'name': 'Brunei', 'iso3': 'BRN', 'iso2': 'BN', 'id': 592},
 {'name': 'Bulgaria', 'iso3': 'BGR', 'iso2': 'BG', 'id': 497},
 {'name': 'Burkina Faso', 'iso3': 'BFA', 'iso2': 'BF', 'id': 552},
 {'name': 'Burundi', 'iso3': 'BDI', 'iso2': 'BI', 'id': 593},
 {'name': 'Cambodia', 'iso3': 'KHM', 'iso2': 'KH', 'id': 478},
 {'name': 'Cameroon', 'iso3': 'CMR', 'iso2': 'CM', 'id': 548},
 {'name': 'Canada', 'iso3': 'CAN', 'iso2': 'CA', 'id': 594},
 {'name': 'Cape Verde', 'iso3': 'CPV', 'iso2': 'CV', 'id': 595},
 {'name': 'Cayman Islands (U.K.)', 'iso3': 'CYM', 'id': 680},
 {'name': 'Central African Republic', 'iso3': 'CAF', 'iso2': 'CF', 'id': 528},
 {'name': 'Chad', 'iso3': 'TCD', 'iso2': 'TD', 'id': 524},
 {'name': 'Chile', 'iso3': 'CHL', 'iso2': 'CL', 'id': 562},
 {'name': 'China', 'iso3': 'CHN', 'iso2': 'CN', 'id': 473},
 {'name': 'Christmas Island (Aus.)', 'iso3': 'CXR', 'id': 721},
 {'name': 'Cocos (Keeling) Islands (Aus.)', 'iso3': 'CCK', 'id': 722},
 {'name': 'Colombia', 'iso3': 'COL', 'iso2': 'CO', 'id': 565},
 {'name': 'Comoros', 'iso3': 'COM', 'iso2': 'KM', 'id': 598},
 {'name': 'Congo', 'iso3': 'COG', 'iso2': 'CG', 'id': 547},
 {'name': 'Congo, Democratic Republic of', 'iso3': 'COD', 'id': 712},
 {'name': 'Cook Islands (N.Z.)', 'iso3': 'COK', 'iso2': 'CK', 'id': 600},
 {'name': 'Costa Rica', 'iso3': 'CRI', 'iso2': 'CR', 'id': 579},
 {'name': "Cote d'Ivoire", 'iso3': 'CIV', 'iso2': 'CI', 'id': 671},
 {'name': 'Croatia', 'iso3': 'HRV', 'iso2': 'HR', 'id': 501},
 {'name': 'Cuba', 'iso3': 'CUB', 'iso2': 'CU', 'id': 574},
 {'name': 'Cyprus', 'iso3': 'CYP', 'iso2': 'CY', 'id': 601},
 {'name': 'Czech Republic', 'iso3': 'CZE', 'id': 681},
 {'name': 'Denmark', 'iso3': 'DNK', 'iso2': 'DK', 'id': 603},
 {'name': 'Disputed Area - China and India', 'iso3': 'XXX', 'id': 715},
 {'name': 'Djibouti', 'iso3': 'DJI', 'iso2': 'DJ', 'id': 523},
 {'name': 'Dominica', 'iso3': 'DMA', 'iso2': 'DM', 'id': 604},
 {'name': 'Dominican Republic', 'iso3': 'DOM', 'iso2': 'DO', 'id': 605},
 {'name': 'Ecuador', 'iso3': 'ECU', 'iso2': 'EC', 'id': 564},
 {'name': 'Egypt, Arab Republic of', 'iso3': 'EGY', 'iso2': 'EG', 'id': 514},
 {'name': 'El Salvador', 'iso3': 'SLV', 'iso2': 'SV', 'id': 581},
 {'name': 'Equatorial Guinea', 'iso3': 'GNQ', 'iso2': 'GQ', 'id': 550},
 {'name': 'Eritrea', 'iso3': 'ERI', 'iso2': 'ER', 'id': 531},
 {'name': 'Estonia', 'iso3': 'EST', 'iso2': 'EE', 'id': 606},
 {'name': 'Ethiopia', 'iso3': 'ETH', 'iso2': 'ET', 'id': 532},
 {'name': 'Falkland Islands (U.K.) / (Islas Malvina',
  'iso3': 'FLK',
  'id': 730},
 {'name': 'Faroe Islands (Den.)', 'iso3': 'FRO', 'id': 682},
 {'name': 'Fiji', 'iso3': 'FJI', 'iso2': 'FJ', 'id': 483},
 {'name': 'Finland', 'iso3': 'FIN', 'iso2': 'FI', 'id': 607},
 {'name': 'Former Spanish Sahara', 'iso3': 'ESH', 'id': 706},
 {'name': 'France', 'iso3': 'FRA', 'iso2': 'FR', 'id': 608},
 {'name': 'French Guiana (Fr.)', 'iso3': 'GUF', 'id': 687},
 {'name': 'French Polynesia (Fr.)', 'iso3': 'PYF', 'id': 702},
 {'name': 'Gabon', 'iso3': 'GAB', 'iso2': 'GA', 'id': 549},
 {'name': 'Gambia, The', 'iso3': 'GMB', 'iso2': 'GM', 'id': 609},
 {'name': 'Georgia', 'iso3': 'GEO', 'iso2': 'GE', 'id': 492},
 {'name': 'Germany', 'iso3': 'DEU', 'iso2': 'DE', 'id': 610},
 {'name': 'Ghana', 'iso3': 'GHA', 'iso2': 'GH', 'id': 556},
 {'name': 'Gibraltar (U.K.)', 'iso3': 'GIB', 'id': 684},
 {'name': 'Glorioso Islands (Fr.)', 'iso3': 'ATF', 'id': 729},
 {'name': 'Greece', 'iso3': 'GRC', 'iso2': 'GR', 'id': 611},
 {'name': 'Greenland (Den.)', 'iso3': 'GRL', 'id': 686},
 {'name': 'Grenada', 'iso3': 'GRD', 'iso2': 'GD', 'id': 612},
 {'name': 'Guadeloupe (Fr.)', 'iso3': 'GLP', 'id': 685},
 {'name': 'Guam (U.S.)', 'iso3': 'GUM', 'id': 688},
 {'name': 'Guatemala', 'iso3': 'GTM', 'iso2': 'GT', 'id': 575},
 {'name': 'Guernsey (U.K.)', 'iso3': 'GGY', 'id': 732},
 {'name': 'Guinea', 'iso3': 'GIN', 'iso2': 'GN', 'id': 554},
 {'name': 'Guinea-Bissau', 'iso3': 'GNB', 'iso2': 'GW', 'id': 613},
 {'name': 'Guyana', 'iso3': 'GUY', 'iso2': 'GY', 'id': 567},
 {'name': 'Haiti', 'iso3': 'HTI', 'iso2': 'HT', 'id': 614},
 {'name': 'Honduras', 'iso3': 'HND', 'iso2': 'HN', 'id': 577},
 {'name': 'Hongkong', 'iso3': 'HKG', 'id': 689},
 {'name': 'Hungary', 'iso3': 'HUN', 'iso2': 'HU', 'id': 502},
 {'name': 'Iceland', 'iso3': 'ISL', 'iso2': 'IS', 'id': 615},
 {'name': 'India', 'iso3': 'IND', 'iso2': 'IN', 'id': 468},
 {'name': 'Indonesia', 'iso3': 'IDN', 'iso2': 'ID', 'id': 482},
 {'name': 'Iran', 'iso3': 'IRN', 'iso2': 'IR', 'id': 508},
 {'name': 'Iraq', 'iso3': 'IRQ', 'iso2': 'IQ', 'id': 509},
 {'name': 'Ireland', 'iso3': 'IRL', 'iso2': 'IE', 'id': 617},
 {'name': 'Isle of Man (U.K.)', 'iso3': 'IMN', 'id': 690},
 {'name': 'Israel', 'iso3': 'ISR', 'iso2': 'IL', 'id': 618},
 {'name': 'Italy', 'iso3': 'ITA', 'iso2': 'IT', 'id': 619},
 {'name': 'Jamaica', 'iso3': 'JAM', 'iso2': 'JM', 'id': 620},
 {'name': 'Japan', 'iso3': 'JPN', 'iso2': 'JP', 'id': 621},
 {'name': 'Jersey (U.K.)', 'iso3': 'JEY', 'id': 733},
 {'name': 'Jordan', 'iso3': 'JOR', 'iso2': 'JO', 'id': 513},
 {'name': 'Kazakhstan', 'iso3': 'KAZ', 'iso2': 'KZ', 'id': 487},
 {'name': 'Kenya', 'iso3': 'KEN', 'iso2': 'KE', 'id': 534},
 {'name': 'Kiribati', 'iso3': 'KIR', 'iso2': 'KI', 'id': 622},
 {'name': 'Korea, Democratic Peoples Republic of',
  'iso3': 'PRK',
  'iso2': 'KP',
  'id': 475},
 {'name': 'Korea, Republic of', 'iso3': 'KOR', 'iso2': 'KR', 'id': 623},
 {'name': 'Kosovo', 'iso3': 'XRK', 'id': 714},
 {'name': 'Kuwait', 'iso3': 'KWT', 'iso2': 'KW', 'id': 624},
 {'name': 'Kyrgyz Republic', 'iso3': 'KGZ', 'iso2': 'KG', 'id': 625},
 {'name': "Lao, People's Democratic Republic of",
  'iso3': 'LAO',
  'iso2': 'LA',
  'id': 479},
 {'name': 'Latvia', 'iso3': 'LVA', 'iso2': 'LV', 'id': 507},
 {'name': 'Lebanon', 'iso3': 'LBN', 'iso2': 'LB', 'id': 517},
 {'name': 'Lesotho', 'iso3': 'LSO', 'iso2': 'LS', 'id': 627},
 {'name': 'Liberia', 'iso3': 'LBR', 'iso2': 'LR', 'id': 557},
 {'name': 'Libya', 'iso3': 'LBY', 'iso2': 'LY', 'id': 519},
 {'name': 'Liechtenstein', 'iso3': 'LIE', 'id': 692},
 {'name': 'Lithuania', 'iso3': 'LTU', 'iso2': 'LT', 'id': 506},
 {'name': 'Luxembourg', 'iso3': 'LUX', 'iso2': 'LU', 'id': 629},
 {'name': 'Macao', 'iso3': 'MAC', 'id': 693},
 {'name': 'Macedonia, FYR', 'iso3': 'MKD', 'iso2': 'MK', 'id': 630},
 {'name': 'Madagascar', 'iso3': 'MDG', 'iso2': 'MG', 'id': 538},
 {'name': 'Malawi', 'iso3': 'MWI', 'iso2': 'MW', 'id': 539},
 {'name': 'Malaysia', 'iso3': 'MYS', 'iso2': 'MY', 'id': 481},
 {'name': 'Maldives', 'iso3': 'MDV', 'iso2': 'MV', 'id': 631},
 {'name': 'Mali', 'iso3': 'MLI', 'iso2': 'ML', 'id': 529},
 {'name': 'Malta', 'iso3': 'MLT', 'iso2': 'MT', 'id': 632},
 {'name': 'Marshall Islands', 'iso3': 'MHL', 'id': 695},
 {'name': 'Martinique (Fr.)', 'iso3': 'MTQ', 'id': 698},
 {'name': 'Mauritania', 'iso3': 'MRT', 'iso2': 'MR', 'id': 530},
 {'name': 'Mauritius', 'iso3': 'MUS', 'iso2': 'MU', 'id': 633},
 {'name': 'Mayotte (Fr.)', 'iso3': 'MYT', 'id': 699},
 {'name': 'Mexico', 'iso3': 'MEX', 'iso2': 'MX', 'id': 572},
 {'name': 'Micronesia, Federated States of', 'iso3': 'FSM', 'id': 683},
 {'name': 'Moldova', 'iso3': 'MDA', 'iso2': 'MD', 'id': 495},
 {'name': 'Monaco', 'iso3': 'MCO', 'id': 694},
 {'name': 'Mongolia', 'iso3': 'MNG', 'iso2': 'MN', 'id': 474},
 {'name': 'Montenegro', 'iso3': 'MNE', 'id': 697},
 {'name': 'Montserrat (U.K.)', 'iso3': 'MSR', 'id': 718},
 {'name': 'Morocco', 'iso3': 'MAR', 'iso2': 'MA', 'id': 521},
 {'name': 'Mozambique', 'iso3': 'MOZ', 'iso2': 'MZ', 'id': 537},
 {'name': 'Myanmar', 'iso3': 'MMR', 'iso2': 'MM', 'id': 472},
 {'name': 'Namibia', 'iso3': 'NAM', 'iso2': 'NA', 'id': 543},
 {'name': 'Nauru', 'iso3': 'NRU', 'iso2': 'NR', 'id': 636},
 {'name': 'Nepal', 'iso3': 'NPL', 'iso2': 'NP', 'id': 470},
 {'name': 'Netherlands Antilles (Neth.)', 'iso3': 'ANT', 'id': 676},
 {'name': 'Netherlands, The', 'iso3': 'NLD', 'iso2': 'NL', 'id': 637},
 {'name': 'New Caledonia (Fr.)', 'iso3': 'NCL', 'id': 700},
 {'name': 'New Zealand', 'iso3': 'NZL', 'iso2': 'NZ', 'id': 638},
 {'name': 'Nicaragua', 'iso3': 'NIC', 'iso2': 'NI', 'id': 578},
 {'name': 'Niger', 'iso3': 'NER', 'iso2': 'NE', 'id': 525},
 {'name': 'Nigeria', 'iso3': 'NGA', 'iso2': 'NG', 'id': 527},
 {'name': 'Niue (N.Z.)', 'iso3': 'NIU', 'iso2': 'NU', 'id': 639},
 {'name': 'Norfolk Island (Aus.)', 'iso3': 'NFK', 'id': 728},
 {'name': 'Northern Mariana Islands (U.S.)', 'iso3': 'MNP', 'id': 696},
 {'name': 'Norway', 'iso3': 'NOR', 'iso2': 'NO', 'id': 640},
 {'name': 'Oman', 'iso3': 'OMN', 'iso2': 'OM', 'id': 511},
 {'name': 'Pakistan', 'iso3': 'PAK', 'iso2': 'PK', 'id': 465},
 {'name': 'Palau', 'iso3': 'PLW', 'iso2': 'PW', 'id': 641},
 {'name': 'Panama', 'iso3': 'PAN', 'iso2': 'PA', 'id': 580},
 {'name': 'Papua New Guinea', 'iso3': 'PNG', 'iso2': 'PG', 'id': 485},
 {'name': 'Paraguay', 'iso3': 'PRY', 'iso2': 'PY', 'id': 571},
 {'name': 'Peru', 'iso3': 'PER', 'iso2': 'PE', 'id': 560},
 {'name': 'Philippines', 'iso3': 'PHL', 'iso2': 'PH', 'id': 484},
 {'name': 'Pitcairn Islands (U.K.)', 'iso3': 'PCN', 'id': 727},
 {'name': 'Poland', 'iso3': 'POL', 'iso2': 'PL', 'id': 505},
 {'name': 'Portugal', 'iso3': 'PRT', 'iso2': 'PT', 'id': 642},
 {'name': 'Puerto Rico (U.S.)', 'iso3': 'PRI', 'id': 701},
 {'name': 'Qatar', 'iso3': 'QAT', 'iso2': 'QA', 'id': 643},
 {'name': 'Romania', 'iso3': 'ROM', 'id': 704},
 {'name': 'Russia', 'iso3': 'RUS', 'iso2': 'RU', 'id': 488},
 {'name': 'Rwanda', 'iso3': 'RWA', 'iso2': 'RW', 'id': 645},
 {'name': 'RÃ©union (Fr.)', 'iso3': 'REU', 'id': 703},
 {'name': 'Saint Helena (U.K.)', 'iso3': 'SHN', 'id': 723},
 {'name': 'Saint Kitts and Nevis', 'iso3': 'KNA', 'iso2': 'KN', 'id': 646},
 {'name': 'Saint Lucia', 'iso3': 'LCA', 'id': 691},
 {'name': 'Saint Vincent and the Grenadines', 'iso3': 'VCT', 'id': 709},
 {'name': 'Samoa', 'iso3': 'WSM', 'iso2': 'WS', 'id': 647},
 {'name': 'San Marino', 'iso3': 'SMR', 'id': 705},
 {'name': 'Saudi Arabia', 'iso3': 'SAU', 'iso2': 'SA', 'id': 649},
 {'name': 'Senegal', 'iso3': 'SEN', 'iso2': 'SN', 'id': 559},
 {'name': 'Serbia', 'iso3': 'SRB', 'id': 713},
 {'name': 'Seychelles', 'iso3': 'SYC', 'iso2': 'SC', 'id': 651},
 {'name': 'Sierra Leone', 'iso3': 'SLE', 'iso2': 'SL', 'id': 558},
 {'name': 'Singapore', 'iso3': 'SGP', 'iso2': 'SG', 'id': 652},
 {'name': 'Slovak Republic', 'iso3': 'SVK', 'iso2': 'SK', 'id': 503},
 {'name': 'Slovenia', 'iso3': 'SVN', 'iso2': 'SI', 'id': 653},
 {'name': 'Solomon Islands', 'iso3': 'SLB', 'iso2': 'SB', 'id': 654},
 {'name': 'Somalia', 'iso3': 'SOM', 'iso2': 'SO', 'id': 536},
 {'name': 'South Africa', 'iso3': 'ZAF', 'iso2': 'ZA', 'id': 545},
 {'name': 'Spain', 'iso3': 'ESP', 'iso2': 'ES', 'id': 655},
 {'name': 'Sri Lanka', 'iso3': 'LKA', 'iso2': 'LK', 'id': 471},
 {'name': 'Sudan', 'iso3': 'SDN', 'iso2': 'SD', 'id': 526},
 {'name': 'Suriname', 'iso3': 'SUR', 'iso2': 'SR', 'id': 568},
 {'name': 'Svalbard (Nor.)', 'iso3': 'SJM', 'id': 719},
 {'name': 'Swaziland', 'iso3': 'SWZ', 'iso2': 'SZ', 'id': 658},
 {'name': 'Sweden', 'iso3': 'SWE', 'iso2': 'SE', 'id': 659},
 {'name': 'Switzerland', 'iso3': 'CHE', 'iso2': 'CH', 'id': 660},
 {'name': 'Syrian Arab Republic', 'iso3': 'SYR', 'iso2': 'SY', 'id': 510},
 {'name': 'SÃ£o TomÃ© and PrÃ\xadncipe', 'iso3': 'STP', 'id': 707},
 {'name': 'Taiwan', 'iso3': 'TWN', 'iso2': 'TW', 'id': 476},
 {'name': 'Tajikistan', 'iso3': 'TJK', 'iso2': 'TJ', 'id': 662},
 {'name': 'Tanzania', 'iso3': 'TZA', 'iso2': 'TZ', 'id': 663},
 {'name': 'Thailand', 'iso3': 'THA', 'iso2': 'TH', 'id': 480},
 {'name': 'Timor-Leste', 'iso3': 'TLS', 'id': 734},
 {'name': 'Togo', 'iso3': 'TGO', 'iso2': 'TG', 'id': 555},
 {'name': 'Tokelau (N.Z.)', 'iso3': 'TKL', 'id': 726},
 {'name': 'Tonga', 'iso3': 'TON', 'iso2': 'TO', 'id': 664},
 {'name': 'Trinidad and Tobago', 'iso3': 'TTO', 'iso2': 'TT', 'id': 665},
 {'name': 'Tunisia', 'iso3': 'TUN', 'iso2': 'TN', 'id': 522},
 {'name': 'Turkey', 'iso3': 'TUR', 'iso2': 'TR', 'id': 490},
 {'name': 'Turkmenistan', 'iso3': 'TKM', 'iso2': 'TM', 'id': 489},
 {'name': 'Turks and Caicos Islands (U.K.)', 'iso3': 'TCA', 'id': 731},
 {'name': 'Tuvalu', 'iso3': 'TUV', 'id': 708},
 {'name': 'U.S. Virgin Islands (U.S.)', 'iso3': 'VIR', 'id': 710},
 {'name': 'Uganda', 'iso3': 'UGA', 'iso2': 'UG', 'id': 533},
 {'name': 'Ukraine', 'iso3': 'UKR', 'iso2': 'UA', 'id': 493},
 {'name': 'United Arab Emirates', 'iso3': 'ARE', 'iso2': 'AE', 'id': 666},
 {'name': 'United Kingdom', 'iso3': 'GBR', 'iso2': 'GB', 'id': 667},
 {'name': 'United States', 'iso3': 'USA', 'iso2': 'US', 'id': 668},
 {'name': 'Uruguay', 'iso3': 'URY', 'iso2': 'UY', 'id': 570},
 {'name': 'Uzbekistan', 'iso3': 'UZB', 'iso2': 'UZ', 'id': 486},
 {'name': 'Vanuatu', 'iso3': 'VUT', 'iso2': 'VU', 'id': 669},
 {'name': 'Venezuela', 'iso3': 'VEN', 'iso2': 'VE', 'id': 566},
 {'name': 'Vietnam', 'iso3': 'VNM', 'iso2': 'VN', 'id': 670},
 {'name': 'Wake Island (U.S.)', 'iso3': 'UMI', 'id': 724},
 {'name': 'Wallis and Futuna (Fr.)', 'iso3': 'WLF', 'id': 725},
 {'name': 'West Bank and Gaza', 'iso3': 'PSE', 'id': 711},
 {'name': 'Yemen, Republic of', 'iso3': 'YEM', 'iso2': 'YE', 'id': 512},
 {'name': 'Zambia', 'iso3': 'ZMB', 'iso2': 'ZM', 'id': 541},
 {'name': 'Zimbabwe', 'iso3': 'ZWE', 'iso2': 'ZW', 'id': 540},
 {'name': 'romania', 'iso3': 'ROU', 'iso2': 'RO', 'id': 496},
 {'name': 'serbia and montenegro', 'iso3': 'SCG', 'iso2': 'CS', 'id': 498}]

## ¿Qué daotos vamos a querer buscar para después comprarlos con los datos de nuestro dataset?
#### Temperaturas y precipitaciones de entre los años 1980 y 1999 de EEUU, Alemania, China, India ,Rusia y reino Unido (potencias mundiales y/o paises altamente poblados)
#### Depués se buscarán los datos predictivos de años venideros de la temperatura y de las precipitaciones de estos mismos países

Todas las funciones de extración de datos y los loops de la limpieza de los dataframes finales se encuentran en el main.py
A continuación tan solo se va a mostrar el producto final.

In [89]:
df_oldtemp = pd.read_csv('old_temp.csv',index_col=0)
df_oldprec = pd.read_csv('old_prec.csv', index_col=0)
df_newtemp = pd.read_csv('prediction_temp.csv', index_col=0)
df_newprec = pd.read_csv('prediction_prec.csv', index_col=0)

In [90]:
df_oldtemp

   Annual_Data  Country
0     6.344341      USA
1     7.677910  Germany
2     4.626097    China
3     9.121408       UK
4    21.990156    India
5    -7.352788    Rusia

In [91]:
df_oldprec

   Annual_Data  Country
0   841.912621      USA
1   929.598637  Germany
2   808.955153    China
3   988.845497       UK
4  1018.582287    India
5   497.024078    Rusia

In [92]:
df_newtemp

   Annual_Data  Country
0     7.483289      USA
1     8.535085  Germany
2     5.728654    China
3     9.668244       UK
4    22.846838    India
5    -5.949377    Rusia

In [93]:
df_newprec

   Annual_Data  Country
0   859.000935      USA
1   949.684790  Germany
2   817.829902    China
3  1005.959857       UK
4  1018.861217    India
5   520.475287    Rusia


- df (el dataset original ya limpio)

- old_temp (el concatenado de las temperaturas de los años 80 hasta el 99)

- old_prec (el concatenado de las precipitaciones de los años 80 hasta el 99)

- new_temp (el concatenado de la predicción de las temperaturas desde el 2020 hasta el 2039)

- new_prec (el concatenado de la predicción de las precipitaciones desde el 2020 hasta el 2039)